/* GENERAL */
:root {
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1080px;
    margin-inline: auto;
    max-width: 100vh;
}

a {
    color: #FB3B42;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
}

#logo {
    margin-inline: 1rem;
}

h1 {
    font-family: 'Monoton';
    text-align: center;
    font-size: 2.5rem;
}

body:after {
    content: "beta";
    position: fixed;
    width: 80px;
    height: 25px;
    background: white;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    line-height: 27px;
    transform: rotate(-45deg);
}

/* MAIN */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin-block: 1rem;
}


#generate,
#download {
    font-family: 'Space Mono';
    font-size: 1.2rem;
    width: 100%;
    margin-block: 1rem;
    background-color: #FB3B42;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem;
    cursor: pointer;

}

#generate:hover,
#download:hover {
    background-color: hsl(358, 96%, 41%);
}

/* SLIDERS */

/* select input range and style that and his labels */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 1rem 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FB3B42;
    border-radius: 0.5rem;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}

/* select labels */
.botones label {
    font-family: 'Space Mono';
    font-size: 0.8rem;
    margin-block: 0.5rem;
}

/* CANVAS */

#canvas-container {
    overflow-x: scroll;
    overflow-y: hidden;
}


/* FOOTER */
footer {
    font-family: 'Space Mono';
    font-size: 0.8rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}



/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    body {
        max-width: 100%;
    }

    header {
        margin-top: 3rem;
        flex-direction: column;
    }

    h1 {

        font-size: 1.5rem;
    }

    main {
        flex-direction: column-reverse;
        margin-top: 1rem;
    }

    footer {
        font-size: 0.8rem;
        bottom: 10px;
    }
}