body {
    max-width: 1080px;
    margin-inline: auto;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 2rem;
}